.pswp {
	z-index: 100000;

	.pswp__bg {
		background-color: rgba(0, 0, 0, 0.85);
	}

	.pswp__ui {
		.pswp__top-bar {
			background-color: #000;
		}
	}

	&--animated-in {
		.pswp__button--arrow--left,
		.pswp__button--arrow--right {
			opacity: 1;
		}

		.pswp__ui--idle {
			.pswp__button--arrow--left,
			.pswp__button--arrow--right,
			.pswp__top-bar {
				opacity: 1;
			}
		}

		.pswp__ui--hidden {
			.pswp__top-bar,
			.pswp__caption,
			.pswp__button--arrow--left,
			.pswp__button--arrow--right {
				opacity: 1;
			}
		}
	}

	.pswp__button--arrow--left,
	.pswp__button--arrow--right {
		width: auto;
		height: auto;
		margin: 0;
		transform: translateY(-50%);
	}

	.pswp__button--arrow--left {
		margin-left: 10px;
	}

	.pswp__button--arrow--right {
		margin-right: 10px;
	}

	.pswp__button--arrow--left:before,
	.pswp__button--arrow--right:before {
		position: static;
		display: inline-block;
		background-image: none;
		font-size: 80px;
		color: #fff;
		line-height: 0.8;
		background-color: transparent;
		height: auto;
		width: auto;
	}

	.pswp__button--arrow--left:before {
		content: '❮';
	}

	.pswp__button--arrow--right:before {
		content: '❯';
	}


	@include resolution(mobile-portrait) {
		.pswp__button--arrow--left:before,
		.pswp__button--arrow--right:before {
			font-size: 40px;
		}

		.pswp__button--arrow--left {
			margin-left: 5px;
		}

		.pswp__button--arrow--right {
			margin-right: 5px;
		}
	}
}
