.footer {
	padding: 70px 0 50px;
	background-color: $color__background-footer;
	color: white;

	.footer__main {
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
	}

	.footer__contacts {
		ul {
			list-style-type: none;
		}

		li {
			margin-bottom: 20px;
		}

		a {
			display: flex;
			align-items: center;
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			transition: .3s opacity;


			&:hover {
				opacity: .4;
			}
		}

		svg {
			margin-right: 15px;
		}
	}

	.footer__socials {
		ul {
			display: flex;
			justify-content: center;
			list-style-type: none;
		}

		li {
			margin: 0 10px;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border: 2px solid #fff;
			border-radius: 50%;
			transition: .3s opacity;

			&:hover {
				opacity: .4;
			}
		}
	}

	.footer__bottom {
		padding-top: 50px;
		border-top: 1px solid #989898;

		.copyright {
			font-family: sans-serif;
			font-size: 17px;
			text-align: center;
			margin: 0;
		}
	}

	@include resolution(tablet-portrait) {
		padding: 30px 0;
		text-align: center;

		.footer__main {
			padding-bottom: 30px;
			flex-wrap: wrap;
			justify-content: space-around;

			ul {
				padding-left: 0
			}
		}

		.footer__logo {
			width: 100%;
			margin-bottom: 40px;

			.logo {
				margin: 0 auto;
			}
		}		

		.footer__menu,
		.footer__contacts {
			width: 50%;
		}

		.footer__contacts {
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				justify-content: center;
			}
		}

		.footer__socials {
			width: 100%;
			margin-top: 20px;
		}

		.footer__bottom {
			padding-top: 30px;
		}
	}

	@include resolution(mobile) {
		.footer__menu,
		.footer__contacts {
			width: 100%;
		}

		.footer__main {
			padding-bottom: 10px;
		}

		.footer__menu {
			margin-bottom: 10px;
		}

		.footer__contacts {
			ul {
				margin-bottom: 0;
			}
		}

		.footer__bottom {
			.copyright {
				font-size: 15px;
			}
		}
	}
}