h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
	font-family: $font__headings;
}

h1 {
	font-size: 35px;
	line-height: 1.14em;
}

h2 {
	font-size: 28px;
	line-height: 1.14em;
}

@include resolution(desktop-small) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}
}

@include resolution(tablet-portrait) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}
}

@include resolution(mobile) {
	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 22px;
	}
}
