h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
}

h1 {
	font-size: 42px;
	line-height: 1.14em;
}

h2 {
	font-size: 36px;
	line-height: 1.14em;
}

h3 {
	font-size: 30px;
}

@include resolution(desktop-small) {
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 32px;
	}
}

@include resolution(tablet-portrait) {
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 30px;
	}
}

@include resolution(mobile) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 24px;
	}
}
