.breadcrumbs {
	padding: 15px 0;
	font-size: 13px;
	
	a {
		color: $color__text-main;
		font-size: 13px;

		&:hover {
			text-decoration: underline;
		}
	}

	span {
		display: inline-block;
		margin: 0 4px;
	}
}
