.btn {
	display: inline-block;
	padding: 15px 30px;
	text-decoration: none;
	border: 2px solid $color__button;
	background-color: $color__button;
	color: white;
	font-size: 17px;
	font-weight: 700;
	transition: background-color .5s, color .5s;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 30px;

	&:hover {
		background-color: white;
		color: $color__button;
	}

	@include resolution(desktop-small) {
	}

	@include resolution(mobile) {
		font-size: 14px;
		padding: 10px 15px;
	}
}

.btn-alt {
	display: inline-block;
	padding: 15px 30px;
	text-decoration: none;
	border: 2px solid white;
	color: $color__text-main;
	background-color: white;
	font-size: 17px;
	font-weight: 700;
	transition: background-color .3s, color .3s;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 30px;

	&:hover {
		color: white;
		background-color: $color__text-main;
	}

	@include resolution(mobile) {
		font-size: 15px;
		padding: 12px 25px;
	}
}

.btn-phone {
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	transition: .3s opacity;
	padding: 15px 30px;
	line-height: 1;
	border-radius: 30px;
	max-width: 300px;
	margin: 0 auto 20px;

	svg {
		margin-right: 15px;
	}

	&:hover {
		opacity: .4;
		color: #fff;
	}
}
