// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin element-with-animation-hide {
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

@mixin element-with-animation-show {
	position: static;
	visibility: visible;
	opacity: 1;
}

@mixin anchor-hover-effect($color: #333, $transition: .4s ease) {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		width: 0;
		height: 2px;
		top: 100%;
		background-color: $color;
		transition: width $transition;
		-webkit-transform: translateZ(0);
	}

	&:hover:after {
		width: 100%;
	}
}
