.header {
	position: sticky;
	top: 0;
	z-index: 100;
	background: hsla(0,0%,100%,.9);
	padding: 10px 0;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.07);

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__center {
		padding: 0 20px;
	}

	.header__left,
	.header__right {
		flex: 1 1 0%;
	}

	.header__menu-mobile {
		display: none;
	}

	.header__menu-toggle {
		cursor: pointer;
		position: relative;
		z-index: 100;
		width: 40px;
		height: 30px;
		
		div {
			position: absolute;
			height: 4px;
			width: 100%;
			background: $color__text-navigation;
			transition: top .2s .25s,left .2s .25s,opacity .2s .25s,transform .2s 0s;
			border-radius: 2px;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 12px;
			}

			&:nth-child(3) {
				top: 25px;
			}
		}
	}

	@include resolution(desktop-small) {
		padding: 4px 0;
	}

	@include resolution(tablet-portrait) {
		.header__inner {
			min-height: 45px;	
		}

		.header__left,
		.header__right {
			display: none;
		}

		.header__menu-mobile {
			display: block;
		}

		.header__center {
			position: relative;
			padding: 0;
			z-index: 10;
		}

		.header__menu-mobile--active {
			.header__menu-toggle {
				div {
					transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
					
					&:nth-child(1),
					&:nth-child(3) {
						top: 12px;
					}
				
					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(1) {
						transform: rotate(45deg);
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
					}
				}
			}

			.nav-mobile {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
