.section-heading {
	margin-bottom: 30px;
	
	h1 {
		margin-bottom: 7px;
		text-transform: uppercase;
	}

	p {
		font-size: 18px;
	}

	*:last-child {
		margin-bottom: 0;
	}

	@include resolution(mobile) {
		text-align: center;

		p {
			font-size: 17px;
		}
	}
}