.section-txt-cols-with-checkboxes {
	overflow: hidden;
	padding: 35px 0;
	background-color: #efeeed;

	h2, p {
		margin-bottom: 35px;
	}

	h3 {
		font-size: 16px;
		
		svg {
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	.section__bottom {
		p:last-child {
			margin-bottom: 0;
		}
	}
}