.section-txt-with-img {
	overflow: hidden;
	background-color: $color__grey-light;
	padding: 30px 0;

	.section-cols {
		align-items: center;
	}

	@include resolution(tablet-portrait) {
		.section__col:nth-child(2) {
			text-align: center;
		}
	}

	@include resolution(mobile) {
		.section__col:nth-child(2) {
			margin-bottom: 20px;
		}
	}
}