.section-txt-with-background-image {
	overflow: hidden;
	padding: 50px 0;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 40px;

	p {
		text-align: justify;
	}

	p:last-child {
		margin-bottom: 0;
	}

	@include resolution(desktop-small) {
		padding: 30px 0;
	}

	@include resolution(mobile-portrait) {
		h2 {
			font-size: 25px;
		}
	}
}