.section-intro {
  position: relative;
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1; 
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .section__actions {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
  }

	@include resolution(tablet-portrait) {
	}

	@include resolution(mobile) {
  }
}