.section-projects {
	overflow: hidden;

	.section__content {
		display: flex;
		flex-wrap: wrap;
		margin: -2px;
		position: relative;
	}

	.section__project {
		position: relative;
		width: 25%;
		padding: 2px;
		
		& > a {
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.section__thumbnail {
		position: relative;
		padding-top: 100%;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transition: transform 4s ease-out;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(48,48,48,0.67);
			opacity: 0;
			transition: opacity .35s linear;
		}
	}

	.section__view-project {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
		transition: opacity 0.35s, bottom 0.35s, transform 0.4s;

		a {
			display: flex;
			align-items: center;
			color: white;
			text-transform: uppercase;
			font-family: $font__headings;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;
			padding: 5px 0;

			@include anchor-hover-effect(white);

			svg {
				margin-left: 4px;
			    width: 5px;
			}
		}
	}

	.section__project:hover {
		.section__thumbnail {
			img {
				transform: scale(1.2);
			}

			&:after {
				opacity: 1;
			}
		}

		.section__view-project {
			opacity: 1;
			transform: translate(-50%, -51%) translateZ(0);
		}
	}

	.section__cta {
		margin: 50px 0;
		text-align: center;
	}


	@include resolution(desktop-small) {
		.section__project {
			width: 33.33%;
		}
	}
}