.section-content {
	margin-bottom: 30px;

	h1 {
		text-transform: uppercase;
		margin: 0;
	}

	.section__title {
		padding: 20px 0;
		border-top: 1px solid $color__border;
		border-bottom: 1px solid $color__border;
		text-align: center;
	}
}