.section-txt-cols-with-image {
	overflow: hidden;
	padding: 80px 0 30px;
	background-size: cover;
	background-repeat: no-repeat;

	p {
		text-align: justify;
	}

	p:last-child {
		margin-bottom: 0;
	}

	@include resolution(desktop-small) {
		padding: 30px 0;
	}

	@include resolution(mobile) {
		background-image: none !important;
		background-color: #ddd;

		h1 {
			text-align: center;

			br {
				display: none;
			}
		}
	}

	@include resolution(mobile-portrait) {
		h1 {
			font-size: 24px;
		}
	}
}