.section-testimonials-slider {
	padding: 40px 0;
	background-color: $color__grey-light;

	h2 {
		text-transform: uppercase;
	}

	.section__text {
		text-align: center;
		margin-bottom: 40px;
	}

	span {
		font-size: 70px;
		line-height: 1;
		font-family: serif;
		margin-top: -15px;
    margin-right: 5px;
		color: #f82e2f;
	}

	p {
		display: flex;
		font-size: 23px;
    font-weight: 300;
    line-height: 1.55;
		margin-bottom: 5px;
	}

	h3 {
		font-size: 20px;
		text-align: right;
	}

	@include resolution(tablet-portrait) {
		.section__text {
			margin-bottom: 30px;
		}
	}
}