.section-txt-with-form {
	padding: 40px 15px;

	h2 {
		margin-bottom: 10px;
	}

	.section__content {
		text-align: center;
	}

	.section__form {
		border: 2px solid $color__form-border;
		padding: 30px;
		max-width: 900px;
		margin: 0 auto;
	}

	@include resolution(mobile-portrait) {
		.section__form {
			padding: 15px;
		}
	}
}