.section-image-with-tabs {
	display: flex;

	.section__image {
		width: 33.33%;
	}

	.section__image-background {
		padding-top: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.section__tabs {
		width: 66.67%;
		padding-left: 20px;
		padding-right: 16.6%;
	}

	.section__columns {
		display: flex;
	}

	.section__tabs-titles {
		width: 30%;
		list-style-type: none;
		padding-left: 0;

		a {
			display: inline-block;
			color: $color__text-main;
			text-transform: uppercase;
			border: 1px solid #ddd;
			padding: 8px 15px;
			min-width: 100%;
			transition: .3s color, .3s background-color, .3s border-color;
		}

		.active {
			a {
				color: white;
				background-color: $color__heading-bar;
				border-color: $color__heading-bar;
			}
		}
	}

	.section__tabs-content {
		position: relative;
		width: 70%;
		padding-left: 25px;
	}

	.section__tab-content {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: -10000px;
		transition: .3s opacity, .3s visibility;
		margin-bottom: 20px;
	}

	.section__tab-content--active {
		position: static;
		opacity: 1;
		visibility: visible;
	}

	@include resolution(desktop) {
		.section__tabs {
			padding: 0 15px;
		}
	}

	@include resolution(desktop-small) {
		.section__image {
			display: none;
		}

		.section__tabs {
			width: 100%;
		}

	}
}