.section-cols {
	display: flex;
}

.section-cols--two {
	margin: 0 -20px;

	.section__col {
		width: 50%;
		padding: 0 20px;
	}
}

.section-cols--three {
	margin: 0 -15px;
	
	.section__col {
		width: 33.33%;
		padding: 0 15px;
	}
}