.section-projects {
	overflow: hidden;
	padding: 2px 0;

	.section__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -2px;
		position: relative;
	}

	.section__project {
		position: relative;
		width: 25%;
		padding: 2px;
		overflow: hidden;
		
		& > a {
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}

	.section__thumbnail {
		position: relative;
		padding-top: 70%;
		overflow: hidden;

		.section__thumbnail-background-image {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: transform 4s ease-out;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(48, 48, 48, 0.67);
			opacity: 0;
			transition: opacity .35s linear;
		}
	}

	.section__title {
		position: absolute;
		padding: 0 15px;
		left: 0;
		right: 0;
		top: 0;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100%);
		transition: opacity .35s, top .5s, visibility .5s;

		h2 {
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1.5;
			text-align: center;

			a {
				color: #fff;
			}
		}
	}

	.section__view-project {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
		transition: opacity .35s, bottom .35s, transform .4s;

		a {
			display: flex;
			align-items: center;
			color: white;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			text-decoration: none;
			padding: 5px 0;

			@include anchor-hover-effect(white);

			svg {
				margin-left: 4px;
				width: 5px;
			}
		}
	}

	.section__project:hover {
		.section__thumbnail {
			.section__thumbnail-background-image {
				transform: scale(1.2);
			}

			&:after {
				opacity: 1;
			}
		}

		.section__title {
			top: 50%;
			visibility: visible;
			opacity: 1;
		}

		.section__view-project {
			opacity: 1;
			transform: translate(-50%, -51%) translateZ(0);
		}
	}

	.section__content-loading {
		display: none;
	}

	.section__cta {
		margin-top: 30px;
		text-align: center;
	}

	@include resolution(desktop-small) {
		.section__project {
			width: 33.33%;
		}
	}

	@include resolution(tablet-portrait) {
		.section__title {
			opacity: 1;
			visibility: visible;
			top: auto;
			bottom: 1px;
			padding: 10px 0 35px;
			background-color: rgba(48, 48, 48, 0.4);
			transform: none;
			transition: background-color .35s;

			h2 {
				font-size: 20px;
				margin: 0;
				line-height: 1.1;
			}
		}

		.section__view-project {
			opacity: 1;
		    top: auto;
			bottom: 10px;
			left: 0;
			right: 0;
			text-align: center;
			transform: none;

			a {
				display: inline-block;
				padding: 0;
			}
		}

		.section__project:hover {
			.section__title {
				top: auto;
				background-color: transparent;
			}

			.section__view-project {
				transform: none;

				a:after {
					width: 100%;
				}
			}
		}
	}

	@include resolution(mobile) {
		.section__project {
			width: 50%;
		}

		.section__thumbnail {
			padding-top: 75%;
		}
	}

	@include resolution(mobile-portrait) {
		.section__cta {
			margin-top: 20px;
		}

		.section__title {
			display: none;
		}

		.section__view-project {
			a {
				font-size: 11px;
			}
		}
	}
}

.section-projects--loading {
	.section__content-loading {
		display: block;
	}

	.categories {
		a {
			pointer-events: none;
		}
	}
}

.section-projects--alt {
	margin-bottom: 40px;
}
