.section-txt-cols-with-checkboxes {
	overflow: hidden;
	padding: 35px 0;
	background-color: #efeeed;

	h2, p {
		margin-bottom: 35px;
	}

	h3 {
		font-size: 16px;
		
		svg {
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	h4 {
		margin-bottom: 10px;
	}

	img {
		margin-bottom: 30px;
		margin: 0 auto;
		width: auto;
		max-height: 200px; 
	}

	.section__bottom {
		p:last-child {
			margin-bottom: 0;
		}
	}

	@include resolution(mobile) {
		h2, p {
			margin-bottom: 21px;
		}

		.section__bottom {
			margin-top: 30px;
		}

		.section__images {
			text-align: center;

			.section__col {
				margin-bottom: 15px;
			}
		}
	}
}