.nav {
	padding: 10px 0;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			margin: 0 18px;
			
			@include anchor-hover-effect($color__text-navigation, .3s cubic-bezier(.175,.885,.32,1.275))
		}
	}

	a {
		display: inline-block;
		color: $color__text-navigation;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 700;
	}
}

.nav--left {
	ul {
		justify-content: flex-end;
	}
}

.nav--right {
	ul {
		justify-content: flex-start;
	}
}

.nav-footer {
	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 5px;
	}

	a {
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		padding-bottom: 2px;

		@include anchor-hover-effect(white);
	}
}
