.nav {
	padding: 10px 0;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			margin: 0 18px;
			
			@include anchor-hover-effect($color__text-navigation, .3s cubic-bezier(.175,.885,.32,1.275))

			&.current-menu-item:after {
				width: 100%;
			}
		}
	}

	a {
		display: inline-block;
		color: $color__text-navigation;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font__headings;
		font-size: 17px;
		font-weight: 700;
	}

	@include resolution(desktop-small) {
		a {
			font-size: 16px;
		}
	}
}

.nav--left {
	ul {
		justify-content: flex-end;
	}
}

.nav--right {
	ul {
		justify-content: flex-start;
	}
}

.nav-footer {
	ul {
		list-style-type: none;
	}

	li {
		margin-bottom: 5px;
	}

	a {
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		padding-bottom: 2px;

		@include anchor-hover-effect(white);
	}
}

.nav-mobile {
	display: none;

	@include resolution(tablet-portrait) {
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 92px 15px;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		overflow-x: auto;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		text-align: center;
		
		li {
			width: 100%;
			margin-top: 20px;
		}
	}

	a {
		display: inline-block;
		margin: 0 auto;
		color: $color__text-navigation;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font__headings;
		font-size: 25px;
		font-weight: 700;

		@include anchor-hover-effect();
	}

	.current-menu-item {
		a:after {
			width: 100%;
		}
	}
}
