.nav {
	padding: 10px 0;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		& > li {
			position: relative;
			margin: 0 18px;
		}

		& > li:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			width: 0;
			height: 2px;
			top: 100%;
			background-color: $color__text-navigation;
			transition: all .3s cubic-bezier(.175,.885,.32,1.275);
		}

		& > li:hover:after {
			width: 100%;
		}
	}

	a {
		display: inline-block;
		color: $color__text-navigation;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 700;
	}
}

.nav--left {
	ul {
		justify-content: flex-end;
	}
}

.nav--right {
	ul {
		justify-content: flex-start;
	}
}
