.logo {
	display: block;
	width: 135px;
	height: 47px;
	background-image: url(images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity .5s;

	&:hover {
		opacity: .4;
	}
}

.logo--white {
	width: 270px;
	height: 94px;
	background-image: url(images/logo-white.png);

	@include resolution(mobile-portrait) {
		width: 135px;
		height: 47px;
	}
}
