.logo {
	display: block;
	width: 120px;
	height: 94px;
	background-image: url(images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity .5s;

	&:hover {
		opacity: .4;
	}
}

.logo--white {
	background-image: url(images/logo-white.png);
}
