.logo {
	display: block;
	width: 137px;
	height: 48px;
	background-image: url(images/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity .5s;

	&:hover {
		opacity: .4;
	}
}

.logo--white {
	width: 274px;
	height: 96px;
	background-image: url(images/logo-white.png);

	@include resolution(mobile-portrait) {
		width: 137px;
		height: 48px;
	}
}
